html {
	/*background-color: #04AA6D;*/
	background-image: url("media/background-glow.png");
	overflow-x: clip;
	width: 100vw;
}

body {
	background-color: #222;
	box-sizing: border-box;
	color: #FFF;
	font-family: Inter, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 13pt;
	line-height: 1.6;
	margin: 0 auto;
	min-height: 100vh;
	padding: 0 0 32px 0;
	max-width: 1000px;
}

/* Formatting for text */
a {
	color: #ddd;
}

h1, h2 {
	font-weight: 400;
	letter-spacing: 0.02em;
}

h1, h2, li, hr {
	margin-top: 1.2em;
}

hr {
	border-width: 4px;
	border-color: #04AA6D;
}

h2, h3 {
	font-style: italic;
	font-weight: 400;
	letter-spacing: 1px;
}

/* Formatting for figures */
figure {
	background: repeating-linear-gradient(-45deg, #222222, #333333 20px, #9198e5 20px, #9198e5 20px);
	border-radius: 4px;
	margin: 20px 0;
	padding: 16px 16px 12px;
	text-align: center;
}

figcaption {
	font-style: italic;
}

/* Formatting for media */
img, video {
	max-width: 100%;
	object-fit: contain;
}

.content {
	margin: 16px 48px 0 48px;
}

.packed {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.packed > div {
	flex: 1 1 0;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	color: #f2f2f2;
	flex-grow: 1;
	font-size: 17px;
	max-width: 100px;
	padding: 14px 30px;
	text-align: center;
	text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #04AA6D;
	color: white;
}

/* Formatting for tables */
tr:nth-child(even) {
	background-color: #333;
}

th, td {
	border-color: #04AA6D;
	padding: 8px 80px 8px 8px;
}

/* Fancy animations */
.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.04);
}