html {
	background-color: #333333;
	background-image: url("media/background-glow.png");
	overflow-x: clip;
	width: 100vw;
}

body {
	background-color: #222E;
	box-sizing: border-box;
	color: #FFF;
	font-family: Inter, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 13pt;
	line-height: 1.6;
	margin: 0 auto;
	min-height: 100vh;
	padding: 0 0 32px 0;
/* 	max-width: 1000px; */
}

/* Formatting for text */

a {
	color: #ddd;
}

code {
	font-size: 10pt;
}

/*h1 { font-size: 32pt; }
h2 { font-size: 28pt; }
p { font-size: 14pt; }*/

h1, h2, h3 {
	font-weight: 400;
}

h1, h2, li, hr, ul {
	margin-top: 1.2em;
}

.condensed li {
	margin-top: 0.6em;
}

h3 {
	font-style: italic;
	font-weight: 400;
	letter-spacing: 1px;
}

hr {
	border-width: 4px;
	border-color: #04AA6D;
}

.radioactive {
	background: #04AA6D;
	border: 1px solid #04AA6D;
	border-radius: 8px;
	padding: 0 6px;
}

/* Formatting for figures */

figure {
	background: repeating-linear-gradient(-45deg, #222222, #333333 20px, #9198e5 20px, #9198e5 20px);
	border-radius: 4px;
	margin: 20px 0;
	padding: 16px 16px 12px;
	text-align: center;
}

figcaption {
	font-style: italic;
}

/* Formatting for media */

img, video {
	max-width: 100%;
	object-fit: contain;
}

.content {
	margin: 16px 48px 0 48px;
}

.packed {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.packed > div {
	flex: 1 1 0;
}

#pagelinks {
	background-color: #333;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

#pagelinks a {
	color: #f2f2f2;
	flex-grow: 1;
	font-size: 17px;
	max-width: 100px;
	padding: 14px 30px;
	text-align: center;
	text-decoration: none;
}

/* Change the color of links on hover */
#pagelinks a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
#pagelinks a.active {
	background-color: #04AA6D;
	color: white;
}

/* Formatting for tables */
table {
	margin-bottom: 16px;
}

tr:nth-child(even) {
	background-color: #333;
}

tr:nth-child(odd) {
	background-color: #222;
}

th {
	background-color: white;
	color: black;
	position: sticky;
	top: 0;
}

th, td {
	border-color: #04AA6D;
	padding: 4px 16px;
}

td ul {
	list-style-position: inside;
}

td.numeric {
	text-align: center;
	font-size: 11pt;
	font-weight: bold;
}

/* Fancy animations */

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.04);
}
